.navbar.navbar-fixed-top {
  min-height: 65px;
  max-height: 65px;
  height: 65px;
  margin-bottom: 0;
  opacity: .95;
  background-color: #3493AF;
  border: 0; }
  .navbar.navbar-fixed-top .container {
    padding: 0; }
  .navbar.navbar-fixed-top .navbar-header {
    margin: 0; }
  .navbar.navbar-fixed-top button {
    width: 66px;
    height: 65px; }
  .navbar.navbar-fixed-top .navbar-brand:hover, .navbar.navbar-fixed-top .navbar-brand:focus {
    background-color: #FF6F69; }
  .navbar.navbar-fixed-top a {
    font-size: 2em;
    color: #EDEDED;
    min-height: 65px;
    max-height: 65px;
    height: 65px;
    padding: 22px 15px; }
  .navbar.navbar-fixed-top .navbar-brand {
    min-height: 65px;
    max-height: 65px;
    height: 65px;
    margin-bottom: 0;
    padding: 15px 15px; }
  /*.navbar.navbar-fixed-top .navbar-toggle {
    border-radius: 0px;
    margin: 0;
    padding: 0; }
  .navbar.navbar-fixed-top .navbar-toggle:hover, .navbar.navbar-fixed-top .navbar-toggle:focus {
    background-color: #FF6F69; }*/
  .navbar.navbar-fixed-top .icon-bar {
    background-color: #EDEDED;
    margin: 5px auto; }
  .navbar.navbar-fixed-top .nav li > a {
    background-color: #3493AF; }
  .navbar.navbar-fixed-top .nav li > a:focus, .navbar.navbar-fixed-top .nav li > a:hover {
    background-color: #FF6F69; }